@media screen and (max-width: 992px) {
    .header, section{
        flex-direction: column;
        height: auto !important;
        padding: 0 3%;
    }

    .text-container, .img-container{
        width: 100% !important;
        max-width: 100% !important;
    }

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 26px;
    }

    h3{
        font-size: 22px;
    }

    p{
        font-size: 20px;
    }

    img{
        width: 100%;
    }
}