
@mixin stylesBox{
    width: 50%;
    max-width: 50%;
  }  
  
@mixin stylesSection{
    display: flex;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

  .container {
    margin: auto;
    word-wrap: break-word;

    .header{
        min-height: 100vh;
        @include stylesSection;
        background-color: #f9f9f9;

    }

    section{
      min-height: 100vh;
        @include stylesSection;
    }

    .coding{
        background-color: #f7f7f7;

    }

    .reduction{
        background-color: #f2f2f2;
    }

    .example{
        background-color: #020019;
        color: #f4f4f4;
    }


    .text-container{
      @include stylesBox;
      padding: 0 5%;

      p{
        line-height: 1.5;
      }

    }
  
    .img-container{
      @include stylesBox;
  
      .img{
        width: 100%;
      }
    }
  
  
  }
  